[submodule "config/tmux/plugins/tmux-battery"]
	path = config/tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "config/tmux/plugins/tmux-continuum"]
	path = config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "config/tmux/plugins/tmux-logging"]
	path = config/tmux/plugins/tmux-logging
	url = https://github.com/tmux-plugins/tmux-logging
[submodule "config/tmux/plugins/tmux-resurrect"]
	path = config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "config/tmux/plugins/tmux-sessionist"]
	path = config/tmux/plugins/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist
[submodule "config/tmux/plugins/tmux-yank"]
	path = config/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/plugins/fast-syntax-highlighting"]
    path = zsh/plugins/fast-syntax-highlighting
    url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "zsh/plugins/forgit"]
    path = zsh/plugins/forgit
    url = https://github.com/wfxr/forgit
[submodule "zsh/plugins/fzf-tab"]
    path = zsh/plugins/fzf-tab
    url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-vim-mode"]
    path = zsh/plugins/zsh-vim-mode
    url = https://github.com/softmoth/zsh-vim-mode
[submodule "term-preferences/dracula-xcode"]
	path = term-preferences/dracula-xcode
	url = https://github.com/dracula/xcode
[submodule "term-preferences/dracula-iterm"]
	path = term-preferences/dracula-iterm
	url = https://github.com/dracula/iterm.git
[submodule "term-preferences/dracula-terminal"]
	path = term-preferences/dracula-terminal
	url = https://github.com/dracula/terminal-app.git
[submodule "config/qutebrowser/dracula"]
	path = config/qutebrowser/dracula
	url = https://github.com/dracula/qutebrowser-dracula-theme.git
