[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/oriolgg/oh-my-zsh
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
[submodule "tmux/tmux/plugins/tmux-battery"]
	path = tmux/tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "tmux/tmux/plugins/tmux-continuum"]
	path = tmux/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/tmux/plugins/tmux-copycat"]
	path = tmux/tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/tmux/plugins/tmux-open"]
	path = tmux/tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "tmux/tmux/plugins/tmux-resurrect"]
	path = tmux/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/tmux/plugins/tmux-yank"]
	path = tmux/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "vim/plugged/vim-easymotion"]
	path = vim/plugged/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/plugged/vim-matchit"]
	path = vim/plugged/vim-matchit
	url = https://github.com/adelarsq/vim-matchit
[submodule "vim/plugged/vim-tmux-navigator"]
	path = vim/plugged/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/plugged/smartpairs.vim"]
	path = vim/plugged/smartpairs.vim
	url = https://github.com/gorkunov/smartpairs.vim
[submodule "vim/plugged/vim-extradite"]
	path = vim/plugged/vim-extradite
	url = https://github.com/int3/vim-extradite
[submodule "vim/plugged/fzf.vim"]
	path = vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/plugged/vim-solarized8"]
	path = vim/plugged/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule "vim/plugged/vim-highlightedyank"]
	path = vim/plugged/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "vim/plugged/vim-mkdir"]
	path = vim/plugged/vim-mkdir
	url = https://github.com/pbrisbin/vim-mkdir
[submodule "vim/plugged/vim-fugitive"]
	path = vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/plugged/vim-repeat"]
	path = vim/plugged/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/plugged/vim-surround"]
	path = vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/plugged/vim-unimpaired"]
	path = vim/plugged/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/plugged/vim-airline"]
	path = vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/plugged/vim-misc"]
	path = vim/plugged/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "vim/plugged/vim-session"]
	path = vim/plugged/vim-session
	url = https://github.com/xolox/vim-session
[submodule "vim/plugged/Colorizer"]
	path = vim/plugged/Colorizer
	url = https://github.com/chrisbra/Colorizer
[submodule "vim/plugged/stable-windows"]
	path = vim/plugged/stable-windows
	url = https://github.com/gillyb/stable-windows
[submodule "vim/plugged/vim-g"]
	path = vim/plugged/vim-g
	url = https://github.com/szw/vim-g
[submodule "vim/plugged/swift.vim"]
	path = vim/plugged/swift.vim
	url = https://github.com/keith/swift.vim
[submodule "vim/plugged/undotree"]
	path = vim/plugged/undotree
	url = https://github.com/mbbill/undotree
[submodule "vim/plugged/fzf-preview.vim"]
	path = vim/plugged/fzf-preview.vim
	url = https://github.com/yuki-ycino/fzf-preview.vim
[submodule "vim/plugged/vim-airline-themes"]
	path = vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/plugged/vim-nerdtree-syntax-highlight"]
	path = vim/plugged/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "vim/plugged/vim-commentary"]
	path = vim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/plugged/vim-devicons"]
	path = vim/plugged/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim/plugged/nvim-miniyank"]
	path = vim/plugged/nvim-miniyank
	url = https://github.com/bfredl/nvim-miniyank
[submodule "vim/plugged/vim-move"]
	path = vim/plugged/vim-move
	url = https://github.com/matze/vim-move
[submodule "vim/plugged/vim-smoothie"]
	path = vim/plugged/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie
[submodule "vim/plugged/vim-gutentags"]
	path = vim/plugged/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim/plugged/gutentags_plus"]
	path = vim/plugged/gutentags_plus
	url = https://github.com/skywind3000/gutentags_plus
[submodule "vim/plugged/vim-easy-align"]
	path = vim/plugged/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
